.container{
	background-color: #ffffff;
}
.bandeBlanche{
	background-color: #ffffff;
	height: 50px;
}
.bandeImage{
	background-image: url(https://melud-exam.herokuapp.com/web/img/photography-731499_1280.jpg);
}
.bandeImage h1{
	font-family: Georgia;
	text-align: center;
	color: #000;
}

.container p{
	text-align: center;
	color: #000000;
	font-size: 20px;
	font-style: italic;
}
.container img{
	padding-top: 20px;
}
.container input{
	color: #000000;
}
#picture_fb{
	width: 100%;
	margin-left:10%;
}
#picture_fb img{
	width: 20%;
}
#lesImages{
	width: 20%;
	height: 200px;
}
#blockUploadDesktop{
	display: none;
}
#fboverlay {
	filter: alpha(opacity=60);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}
#miseEnFormeFeliciation{
	
}

#ImageAlbum{
	
}