.container{
	/*background-image: url(https://melud-exam.herokuapp.com/web/img/photo-1415298910336-daa47babb3cc.jpg);*/
	background-color: #ffffff;
	color: #ffffff;
}
.bandeBlanche{
	background-color: #ffffff;
	height: 50px;
}
.bandeImage{
	background-image: url(https://melud-exam.herokuapp.com/web/img/photo-1415298910336-daa47babb3cc.jpg);
}
.container h2{
	text-align: center;
}
.container img{
	padding-top: 20px;
	width: 100%;
}
.container input{
	color: #000000;
}
.container p{
	text-align: justify;
}
#picture_fb img{
	width: 20%;
}
#lesImages{
	width: 20%;
	height: 200px;
}